body, html {
height:100%;
width:100%;
margin:0px;
padding:0px;
}

.btn {
padding-top:2px;
padding-left:2px;
padding-right:5px;
cursor: pointer;
vertical-align:middle;
}

.ui-button .ui-icon.draw-icon {
    background-image: url('images/draw.png') !important;
    width: 26px;
    height: 26px; 
    top: 14px;
}

.ui-button-text-icon-primary .ui-button-text {
    padding: 0.4em 1em .4em 2.3em;
}

#displayDetails li {
margin: 0 5px 5px 5px;
padding: 5px;
font-size: 1em;
height: 1em;
}

#displayDetails {
list-style-type: none;
padding-left:0px;
}

.mapController {
	position: absolute;
top: 20px;
left: 100px;
width: 314px;
height: 733px;
margin: 10px;
padding: 10px;
overflow: auto;
background: url('images/legend.png') no-repeat;
	
}

.legendTitle {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #204556;
}

.legendItem {
	padding-top: 10px;
	padding-bottom: 10px;
}

.legendItemLabel {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	font-size: 19px;
	color: #204556;
	margin-left:10px;
	position: relative;
	top: -20px;
}