body, html {
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
}

.btn {
  padding-top:2px;
  padding-left:2px;
  padding-right:5px;
  cursor: pointer;
  vertical-align:middle;
}

.ui-button .ui-icon.draw-icon {
  background-image: url('../../images/draw.png') !important;
  width: 26px;
  height: 26px;
  top: 14px;
}

.ui-button-text-icon-primary .ui-button-text {
  padding: 0.4em 1em .4em 2.3em;
}

#displayDetails li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1em;
  height: 1em;
}

#displayDetails {
  list-style-type: none;
  padding-left:0px;
}

.mapController {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 314px;
  height: 733px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid;
  background-color: rgba(230, 230, 230, 0.9);
}

.minimize:hover {
  cursor: pointer;
}

.legendTitle {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #204556;
}

.legendTitle-max {
  font-size: 30px;
}

.legendImage {
  display: inline-block;
  margin: 5px;
  height: 30px;
  vertical-align:middle;
}

.legendImage-max {
  height: 80px;
}

.legendIcon {
  display: inline-block;
  margin:10px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.legendIcon-max {
  height: 60px;
  width: 60px;
}

.legendItem {

}

.legendItem:hover {
  background-color: rgb(239, 244, 245);
  cursor: pointer;
}

.legendItemLabel {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #204556;
  margin-left:5px;
  position: relative;
}

.legendItemLabel-max {
  font-size: 25px;
}

.searchText {
  border-radius: 5px;
  text-indent: 5px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 195px;
  height: 25px;
  z-index: 1000;
}

.searchText-max {
  border-radius: 10px;
  width: 330px;
  height: 50px;
  font-size: 25px;
}

