body, html {
height:100%;
width:100%;
margin:0px;
padding:0px;
}

.btn {
padding-top:2px;
padding-left:2px;
padding-right:5px;
cursor: pointer;
vertical-align:middle;
}

.ui-button .ui-icon.draw-icon {
    background-image: url('../../images/draw.png') !important;
    width: 26px;
    height: 26px; 
    top: 14px;
}

.ui-button-text-icon-primary .ui-button-text {
    padding: 0.4em 1em .4em 2.3em;
}

#displayDetails li {
margin: 0 5px 5px 5px;
padding: 5px;
font-size: 1em;
height: 1em;
}

#displayDetails {
list-style-type: none;
padding-left:0px;
}

.mapController {
	position: absolute;
top: 20px;
left: 100px;
width: 314px;
height: 733px;
padding: 10px;
overflow: hidden;
background: url('../../images/legend.png') no-repeat;
background-size: 100% 100%;	
}


.minimize {
position: absolute;
top: 5px;
left: 5px;
font-family: serif;
font-size: 26px;
width: 25px;
height: 25px;
text-align: center;
	
}

.minimize:hover {
	cursor: pointer;
}


.legendTitle {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #204556;
}

.legendImage {
	height: 50px; 
	vertical-align:middle;
}

.legendIcon {
	display: inline-block; 
	margin:10px; 
	width: 30px; 
	height: 30px;
	vertical-align: middle; 
}
.legendItem {

}

.legendItem:hover {
	background-color: rgb(239, 244, 245);
	cursor: pointer;
}

.legendItemLabel {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #204556;
	margin-left:5px;
	position: relative;
	
}